body{ margin: 5; font-size: 8px; width: 280px;}
.please{ font-size: 22px;}
.me{ padding-left: 56px;}
.doorName{ font-size: 10px;}
.account{ padding-left: 60px;}
.note{ padding-top: 5px; padding-bottom: 5px;}
.qrimg{ padding-left: 60px;}